<div class="col-md-8">
  <%= form_for document do |f| %>
    <%= render partial: "shared/form_errors", locals: { object: document } %>
    <%= render partial: "shared/form_fields", locals: { f: f } %>
    <%= render partial: "shared/form_preview" %>

    <%= f.select :alert_type, f.object.facet_options(:alert_type), {include_blank: true}, { class: 'form-control' } %>
    <%= f.select :medical_specialism, f.object.facet_options(:medical_specialism), {}, { class: 'select2', multiple: true, data: {placeholder: 'Select a Medical specialism'} } %>
    <%= f.text_field :issued_date, placeholder: '2012-04-23', class: 'form-control' %>

    <%= render partial: "specialist_documents/minor_major_update_fields", locals: { f: f, document: document } %>

    <div class="actions">
      <button name="save" class="btn btn-success">Save as draft</button>
    </div>
  <% end %>
</div>

<%= render partial: "specialist_documents/attachments_form", locals: { document: document } %>

<%= render partial: "specialist_documents/js_preview",
           locals: { document: document, form_namespace: "medical_safety_alert" } %>
