<div class="row add-bottom-margin">
  <div class=" col-md-8">
    <h2>Metadata</h2>
    <dl class="metadata-list">
      <%= list_facets %>
      <% if @document.class.has_organisations? %>
        <dt>Publishing organisation</dt>
        <dd><%= helpers.organisation_name(@document.primary_publishing_organisation) %></dd>
        <dt>Other associated Organisations</dt>
        <%= list_associated_organisations %>
      <% end %>
      <dt>Bulk published</dt>
      <dd><%= @document.bulk_published %></dd>
      <dt>Publication state</dt>
      <dd><%= publication_state %></dd>
    </dl>
  </div>
</div>