<div class="col-md-8">
  <%= form_for document do |f| %>
    <%= render partial: "shared/form_errors", locals: { object: document } %>
    <%= render partial: "shared/form_fields", locals: { f: f } %>
    <%= render partial: "shared/form_preview" %>

    <%= f.text_field :date_of_occurrence, placeholder: '2012-04-23', class: 'form-control' %>
    <%= f.select :railway_type, f.object.facet_options(:railway_type), {}, { class: 'select2', multiple: true, data: {placeholder: 'Select a Railway type'} } %>
    <%= f.select :report_type, f.object.facet_options(:report_type), {}, { class: 'form-control' } %>

    <%= render partial: "specialist_documents/minor_major_update_fields", locals: { f: f, document: document } %>

    <div class="actions">
      <button name="save" class="btn btn-success">Save as draft</button>
    </div>
  <% end %>
</div>

<%= render partial: "specialist_documents/attachments_form", locals: { document: document } %>

<%= render partial: "specialist_documents/js_preview", locals: { document: document, form_namespace: "raib_report" } %>
