<div class="form-group">
  <%= f.label :tribunal_decision_categories %>
  <%= f.select :tribunal_decision_categories, f.object.facet_options(:tribunal_decision_categories), { label: "Category" }, { class: 'select2', multiple: true, data: { placeholder: 'Select category' } } %>
</div>
<div class="form-group">
  <%= f.label :tribunal_decision_sub_categories %>
  <%= f.select :tribunal_decision_sub_categories, f.object.facet_options(:tribunal_decision_sub_categories), { label: "Sub-category" }, { class: 'select2 form-control', multiple: true, data: { placeholder: 'Select sub-category' } } %>
</div>
<div class="form-group">
  <%= f.label :tribunal_decision_landmark %>
  <%= f.select :tribunal_decision_landmark, f.object.facet_options(:tribunal_decision_landmark), { label: "Landmark" }, { class: 'form-control' } %>
</div>
<div class="form-group">
  <%= f.label :tribunal_decision_decision_date %>
  <%= f.text_field :tribunal_decision_decision_date, label: "Decision date", placeholder: '2015-07-30', class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :hidden_indexable_content %>
  <%= f.text_area :hidden_indexable_content, class: 'form-control' %>
</div>
