<%= render "shared/date_fields", f: f, field: :sift_end_date, format: :statutory_instrument %>
<%= render "shared/date_fields", f: f, field: :laid_date, format: :statutory_instrument %>
<%= render "shared/form_group", f: f, field: :sifting_status do %>
  <%= f.select :sifting_status, options_for(f, :sifting_status), {}, { class: "form-control" } %>
<% end %>
<% # TODO: this bit of logic prevents us moving to the shared view %>
<% withdrawn_date_display = f.object.withdrawn_sifting_status? ? "block" : "none" %>
<div class="withdrawn-date-wrapper" style="display:<%= withdrawn_date_display %>">
  <%= render "shared/date_fields", f: f, field: :withdrawn_date, format: :statutory_instrument %>
</div>
<%= render "shared/form_group", f: f, field: :subject do %>
  <%= f.select :subject,
      options_for(f, :subject),
      {},
      {
        class: "select2 form-control select-all-disabled",
        multiple: true,
        data:
        {
          placeholder: "Select subjects"
        }
      }
  %>
<% end %>

<% # TODO: find a way of making organisation management schema-driven %>
<%= render "shared/form_group", f: f, field: :primary_publishing_organisation, label: "Publishing organisation" do %>
  <%= f.select :primary_publishing_organisation,
      organisations_options,
      { selected: selected_organisation_or_current(@document.primary_publishing_organisation) },
      {
        class: "select2 form-control",
        multiple: false,
        data: {
          placeholder: "Select a primary publishing organisation"
        }
      }
  %>
<% end %>
<%= render "shared/form_group", f: f, field: :organisations, label: "Other associated organisations" do %>
  <%= f.select :organisations,
      organisations_options,
      {},
      {
        class: "select2 form-control select-all-disabled",
        multiple: true,
        data: {
          placeholder: "Select organisations"
        }
      }
  %>
<% end %>

<% # TODO: this bit of JS prevents us moving to the shared view %>
<% content_for :document_ready do %>
  var $withdrawnDateEl = $(".withdrawn-date-wrapper");
  var $withdrawnDateFields = $("input[id^='statutory_instrument_withdrawn_date']");
  var $siftEndDateFields = $("input[id^='statutory_instrument_sift_end_date']");
  $("#statutory_instrument_sifting_status").change(function(e) {
    if (e.target.value === "withdrawn") {
      $withdrawnDateEl.show();
      $siftEndDateFields.val("");
    } else {
      $withdrawnDateEl.hide();
      $withdrawnDateFields.val("");
    }
  });
<% end %>
