<% format_name = f.object.class.finder_schema.filter["format"].to_sym %>
<% schema = f.object.class.finder_schema %>

<% facet_key = :licence_transaction_industry %>
<%= render FacetInputComponent.new(@document, schema, schema.get_facet(facet_key)) %>

<% facet_key = :licence_transaction_location %>
<%= render FacetInputComponent.new(@document, schema, schema.get_facet(facet_key)) %>

<%= render "govuk_publishing_components/components/select", {
  id: "#{@document_type}_primary_publishing_organisation",
  name: "#{@document_type}[primary_publishing_organisation]",
  label: "Select a primary publishing organisation",
  heading_size: "m",
  full_width: true,
  error_message: errors_for_input(@document.errors, :primary_publishing_organisation),
  options: organisations_select_options,
} %>

<%= render "govuk_publishing_components/components/select", {
  id: "#{@document_type}_organisations",
  name: "#{@document_type}[organisations]",
  label: "Select organisations",
  heading_size: "m",
  full_width: true,
  error_message: errors_for_input(@document.errors, :organisations),
  options: organisations_select_options,
} %>

<% # TODO: rendering a subset of the facet fields above (and a subset below) the proprietary code in this file %>
<% # makes it difficult to use the shared view %>
<div class="additional-field-context-section">
  <h2>How users apply</h2>

  <% if field_has_errors(@document, :base) %>
    <div class="elements-error">
      <p class="elements-error-message"><%= t("activemodel.errors.models.licence_transaction.attributes.base.link_and_identifier_exists") %></p>
    </div>
  <% else %>
    <p class="govuk-body">Enter either the website where users can apply for the licence, or the licence identifier.</p>
  <% end %>
</div>

<%= render "govuk_publishing_components/components/input", {
  label: {
    text: "Name of website where users apply",
    heading_size: "m",
  },
  name: "#{format_name}[licence_transaction_will_continue_on]",
  id: "#{format_name}_licence_transaction_will_continue_on",
  value: @document.licence_transaction_will_continue_on,
  type: "url",
} %>

<%= render "govuk_publishing_components/components/input", {
  label: {
    text: "Link to where users apply",
    heading_size: "m",
  },
  name: "#{format_name}[licence_transaction_continuation_link]",
  id: "#{format_name}_licence_transaction_continuation_link",
  value: @document.licence_transaction_continuation_link,
  type: "url",
} %>

<%= render "govuk_publishing_components/components/input", {
  label: {
    text: "Licence identifier",
    heading_size: "m",
  },
  name: "#{format_name}[licence_transaction_licence_identifier]",
  id: "#{format_name}_licence_transaction_licence_identifier",
  value: @document.licence_transaction_licence_identifier,
} %>
