<div class="form-group">
  <%= f.label :date_of_occurrence %>
  <%= f.text_field :date_of_occurrence, placeholder: '2012-04-23', class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :railway_type %>
  <%= f.select :railway_type, f.object.facet_options(:railway_type), {}, { class: 'select2 form-control', multiple: true, data: {placeholder: 'Select a Railway type'} } %>
</div>
<div class="form-group">
  <%= f.label :report_type %>
  <%= f.select :report_type, f.object.facet_options(:report_type), {}, { class: 'form-control' } %>
</div>
