<div class="col-md-8">
  <%= form_for document do |f| %>
    <%= render partial: "shared/form_errors", locals: { object: document } %>
    <%= render partial: "shared/form_fields", locals: { f: f } %>
    <%= render partial: "shared/form_preview" %>

    <%= f.select :fund_state, f.object.facet_options(:fund_state), {}, { class: 'form-control' } %>
    <%= f.select :location, f.object.facet_options(:location), {}, { class: 'select2', multiple: true, data: {placeholder: 'Select a location'} } %>
    <%= f.select :development_sector, f.object.facet_options(:development_sector), { label: 'Sector'}, { class: 'select2', multiple: true, data: {placeholder: 'Select a Sector'} } %>
    <%= f.select :eligible_entities, f.object.facet_options(:eligible_entities), { label: 'Eligible Organisations'}, { class: 'select2', multiple: true, data: {placeholder: 'Select an eligible organisation'} } %>
    <%= f.select :value_of_funding, f.object.facet_options(:value_of_funding), {}, { class: 'select2', multiple: true, data: {placeholder: 'Select a Value'} } %>

    <%= render partial: "specialist_documents/minor_major_update_fields", locals: { f: f, document: document } %>

    <div class="actions">
      <button name="save" class="btn btn-success">Save as draft</button>
    </div>
  <% end %>
</div>

<%= render partial: "specialist_documents/attachments_form", locals: { document: document } %>

<%= render partial: "specialist_documents/js_preview",
           locals: { document: document, form_namespace: "international_development_fund" } %>
