<% content_for :page_title, "Edit #{current_format.title} finder" %>
<% content_for :title, "Check your changes before submitting" %>
<% content_for :context, "#{current_format.title} finder" %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-body govuk-!-margin-top-8">
    <%= render summary_card_template, {
      schema: @proposed_schema,
      previous_schema: @current_format.finder_schema,
    } %>

    <%= render(partial: "diff", locals: { old_schema: @current_format.finder_schema, new_schema: @proposed_schema }) %>

    <%= form_tag "/admin/zendesk/#{current_format.admin_slug}", method: 'post' do %>
      <%= render "govuk_publishing_components/components/textarea", {
        name: "editorial_remark",
        id: "editorial_remark",
        label: {
          text: "Tell us about your changes (optional)",
        },
        hint: "Please add any further information you think may be helpful related to these changes, including specific dates or deadlines, if you have them."
      } %>

      <p class="govuk-body govuk-body govuk-!-margin-top-7">
        By submitting you are confirming that these changes are required to the specialist finder.
      </p>

      <div class="govuk-button-group govuk-!-margin-top-7">
        <%= hidden_field_tag :proposed_schema, JSON.pretty_generate(JSON.parse(@proposed_schema.to_json)) %>
        <%= render "govuk_publishing_components/components/button", {
          text: "Submit changes"
        } %>

        <%= link_to("Cancel", finder_path(current_format.admin_slug), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
