<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
  collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "All finders",
        url: root_path
      },
      {
        title: "#{current_format.title} finder",
        url: "/admin/#{current_format.admin_slug}"
      },
      {
        title: "Request change",
        url: request.original_url
      }
    ]
  } %>
<% end %>
<% content_for :page_title, "Edit #{current_format.title} finder" %>
<% content_for :title, "Request change: Finder details" %>
<% content_for :context, "#{current_format.title} finder" %>


<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag do %>
      <%= render "metadata_form_fields", { schema: current_format.finder_schema } %>

      <div class="govuk-button-group govuk-!-margin-top-8">
        <%= render "govuk_publishing_components/components/button", {
          text: "Submit changes",
        } %>

        <%= link_to("Cancel", "/admin/#{current_format.admin_slug}", class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
