<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
  collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "All finders",
        url: root_path
      },
      {
        title: "#{current_format.title} finder",
        url: "/admin/#{current_format.admin_slug}"
      },
      {
        title: "Request change",
        url: request.original_url
      }
    ]
  } %>
<% end %>
<% content_for :page_title, "Edit #{current_format.title} finder" %>
<% content_for :title, "Request change: Finder details" %>
<% content_for :context, "#{current_format.title} finder" %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag do %>
      
      <p class="govuk-body govuk-body govuk-!-margin-top-7">
        All fields are mandatory unless explicitly marked as optional.
      </p>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Title of the finder",
          heading_size: "s",
        },
        name: "name",
        value: current_format.finder_schema.schema["name"],
        hint: "Example: Find animal disease cases and control zones"
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Slug or URL",
          heading_size: "s",
        },
        name: "base_path",
        value: current_format.finder_schema.schema["base_path"],
        hint: "Example: /animal-disease-cases-england"
      } %>

      <%= render "components/autocomplete", {
        id: "organisations",
        label: {
          text: "Organisations the finder should be attached to",
          heading_size: "s",
        },
        name: "organisations[]",
        select: {
          multiple: true,
          selected: current_format.finder_schema.schema["organisations"],
          options: [""] + organisations_options,
        },
      } %>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Short description (For search engines)",
          heading_size: "s",
        },
        hint: "Example: Find notifiable exotic animal disease cases and control zone declarations for England.",
        name: "description",
        rows: 5,
        value: current_format.finder_schema.schema["description"],
      } %>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Summary of the finder (Longer description shown below title) (optional)",
          heading_size: "s",
        },
        hint: "Example: Find notifiable exotic animal disease cases and control zone declarations for England. There are cases of bird flu (avian influenza) in England. Check if you are in a disease control zone on the map. Find an export health certificate - GOV.UK",
        name: "summary",
        rows: 8,
        value: current_format.finder_schema.schema["summary"],
      } %>

      <%
        related_links = safe_join([0,1,2].map { |index| render "govuk_publishing_components/components/input", {
            label: {
              text: "Link #{index + 1}",
              heading_size: "s",
            },
            name: "related[]",
            rows: 8,
            value: (current_format.finder_schema.schema["related"]||[])[index] ,
          }
        })
      %>

      <%= hidden_field_tag "include_related", false %>
      <%= render "govuk_publishing_components/components/checkboxes", {
        name: "include_related",
        id: "include_related",
        heading: "Any related links on GOV.UK? (optional)",
        heading_size: "s",
        hint_text: "Provide the content ids of any related pages",
        items: [
          {
            label: "Yes",
            value: true,
            checked: current_format.finder_schema.schema["related"],
            conditional: related_links
          }
        ]
      } %>

      <%= render "govuk_publishing_components/components/radio", {
        heading: "Should summary of each content show under the title in the finder list page?",
        heading_size: "s",
        hint: "Example: Content summaries on Finance and support for your business vs Countryside Stewardship grants with no summaries",
        name: "show_summaries",
        inline: true,
        items: [
          {
            value: "true",
            text: "Yes",
            checked: current_format.finder_schema.schema["show_summaries"]
          },
          {
            value: "false",
            text: "No",
            checked: !current_format.finder_schema.schema["show_summaries"]
          }
        ]
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "The document noun (How the documents on the finder are referred to)",
          heading_size: "s",
        },
        name: "document_noun",
        value: current_format.finder_schema.schema["document_noun"],
        hint: "For example ‘scheme’. On Finance and support for your business there’s 151 schemes, which updates when you start selecting filter options"
      } %>

      <div class="govuk-button-group govuk-!-margin-top-8">
        <%= render "govuk_publishing_components/components/button", {
          text: "Submit changes",
        } %>

        <%= link_to("Cancel", "/admin/#{current_format.admin_slug}", class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>
</div>
