<%= content_for :page_title, "Edit #{current_format.title} finder" %>

<% content_for :breadcrumbs do %>
    <% # TODO: breadcrumbs not working in this layout (this was copied from Whitehall equivalent) %>
    <li><%= link_to "#{current_format.title} index", documents_path(current_format.admin_slug) %></li>
    <li class='active'>Edit <%= current_format.title %> finder</li>
<% end %>

<h1>Editing <%= current_format.title %> finder</h1>

<div class="row">
  <div class="col-md-8">
    <p>Copy and paste this JSON for a developer.</p>

    <h2>Proposed JSON</h2>
    <%= @proposed_schema %>

    <h2>Original JSON</h2>
    <%= current_format.finder_schema.schema %>
  </div>
</div>
