<div class="col-md-4">
  <%= render partial: 'shared/govspeak-help' %>

  <% if action_name != 'update' %>
    <h2>Attachments</h2>

    <% if document.persisted? %>
      <%= link_to "Add attachment", new_specialist_document_attachment_path(document) %>
    <% else %>
      <p>To add an attachment, please save the draft first.</p>
    <% end %>

    <ul class="attachments">
      <% document.attachments.each do |attachment| %>
        <li class="attachment">
          <span class="title"><%= attachment.title %></span>
          <span class="snippet"><%= attachment.snippet %></span>
          <%= link_to "edit", edit_specialist_document_attachment_path(document, attachment) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
