<div class="col-md-8">
  <%= form_for document do |f| %>
    <% if document.errors.any? %>
      <div class="errors error-list">
        <h2>Please fix the following errors found in the form</h2>
        <ul class="errors">
          <% document.errors.each do |field, errors| %>
            <% if errors %>
              <li><%= field.to_s.humanize %> <%= [*errors].join(' and ')  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if document.slug %>
      <p class="slug">
        <span>Slug:</span>
        <span><%= document.slug %></span>
      </p>
    <% end %>

    <%= f.text_field :title %>
    <%= f.text_area :summary, class: 'short-textarea' %>
    <%= f.text_area :body %>
    <button name='preview'>Preview</button>
    <div class="preview">
      <div class="govspeak">
        <%= preview.html_safe if respond_to?(:preview) %>
      </div>
    </div>
    <%= f.text_field :opened_date, placeholder: '2012-04-23' %>
    <%= f.text_field :closed_date, placeholder: '2013-10-19' %>
    <%= f.select :case_type, facet_options(:case_type) %>
    <%= f.select :case_state, facet_options(:case_state) %>
    <%= f.select :market_sector, facet_options(:market_sector) %>
    <%= f.select :outcome_type, facet_options(:outcome_type), include_blank: true %>

    <button name='draft'>Save as draft</button>
    <button name='publish'>Save and publish</button>
  <% end %>
</div>

<div class="col-md-4">
  <%= render partial: 'govspeak-help' %>

  <h2>Attachments</h2>

  <% if document.persisted? %>
    <%= link_to "Add attachment", new_specialist_document_attachment_path(document) %>
  <% else %>
    <p>To add an attachment, please save the draft first.</p>
  <% end %>

  <ul class="attachments">
    <% document.attachments.each do |attachment| %>
      <li class="attachment"><span class="title"><%= attachment.title %></span> <span class="snippet"><%= attachment.snippet %></span></li>
    <% end %>
  </ul>
</div>

<%= content_for :document_ready do %>
  window.SpecialistDocument.enhancePreview({
    'url'             : '<%= preview_specialist_document_path(document) %>',
    'button_selector' : 'button[name="preview"]',
    'render_to'       : '.preview .govspeak'
  });
<% end -%>
