<div class="col-md-8">
  <%= form_for document do |f| %>
    <% if document.errors.any? %>
      <div class="errors error-list">
        <h2>Please fix the following errors found in the form</h2>
        <ul class="errors">
          <% document.errors.each do |field, errors| %>
            <% if errors %>
              <li><%= field.to_s.humanize %> <%= [*errors].join(' and ')  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if document.slug %>
      <p class="slug">
        <span>Slug:</span>
        <span><%= document.slug %></span>
      </p>
    <% end %>

    <%= f.text_field :title %>
    <%= f.text_area :summary, class: 'short-textarea' %>
    <%= f.text_area :body %>
    <button name='preview'>Preview</button>
    <div class="preview">
      <div class="govspeak">
        <%= @preview.html_safe if @preview %>
      </div>
    </div>
    <%= f.text_field :opened_date, placeholder: '2012-04-23' %>
    <%= f.text_field :closed_date, placeholder: '2013-10-19' %>
    <%= f.select :case_type, FinderSchema.case_type_options %>
    <%= f.select :case_state, FinderSchema.case_state_options %>
    <%= f.select :market_sector, FinderSchema.market_sector_options %>
    <%= f.select :outcome_type, FinderSchema.outcome_type_options, include_blank: true %>

    <%= link_to "Add attachment", new_specialist_document_attachment_path(document) %>

    <button name='draft'>Save as draft</button>
    <button name='publish'>Save and publish</button>
  <% end %>
</div>

<div class="col-md-4">

  <ul class="attachments">
    <% document.attachments.each do |attachment| %>
      <li class="attachment"><span class="title"><%= attachment.title %></span> <span class="snippet"><%= attachment.snippet %></span></li>
    <% end %>
  </ul>

  <%= render partial: 'govspeak-help' %>
</div>

<%= content_for :document_ready do %>
  window.SpecialistDocument.enhancePreview({
    'button_selector' : 'button[name="preview"]',
    'render_to'       : '.preview .govspeak'
  });
<% end -%>
