<div class="col-md-8">
  <%= form_for document do |f| %>

    <%= f.text_field :title %>
    <%= f.text_area :summary, class: 'short-textarea' %>
    <%= f.text_area :body %>

    <button>Save as draft</button>
  <% end %>
</div>
<div class="col-md-4">
  <%= render partial: 'govspeak-help' %>
</div>
