<% content_for :breadcrumbs do %>
  <li class='active'>Your documents</li>
<% end %>

<h1 class="page-header">Your documents</h1>

<div class="row">
  <div class="sidebar col-md-3">
    <%= link_to "New document", new_specialist_document_path(document_type), class: 'action-link' %>

    <%= render 'specialist_documents/search' %>
  </div>
  <div class="col-md-9">
    <ul class="document-list">
      <% documents.each do |document| %>
        <li class="document">
          <%= link_to document.title, specialist_document_path(document), class: 'document-title' %>
          <ul class="metadata">
            <li class="text-muted">Updated <%= time_ago_in_words(document.updated_at) %> ago</li>
            <li>
              <%= state(document) %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
    <%= paginate documents %>
  </div>
</div>
