<% content_for :breadcrumbs do %>
  <li><%= link_to "Your documents", specialist_documents_path(controller_name) %></li>
  <li class='active'><%= document.title %></li>
<% end %>

<h1 class="page-header"><%= document.title %>
<% if document.publication_state == "published" %>
  <span class='document-slug'>
    <%= link_to document.slug, published_specialist_document_path(document) %>
  </span>
<% else %>
  <span class='document-slug' title='When published this document will appear at this URL'><%= document.slug %></span>
<% end %>
</h1>
<div class="row">
  <div class="col-md-8">
    <h2>Summary</h2>
    <p><%= document.summary %></p>
  </div>
</div>
<div class="row">
  <div class=" col-md-8">
    <h2>Metadata</h2>
    <dl class='metadata-list'>
      <% document.humanized_attributes.each_pair do |label, value| %>
        <dt><%= label.to_s.humanize %></dt>
        <dd><%= Array(value).join(" ") %></dd>
      <% end %>
      <dt>Publication state</dt>
      <dd><%= state(document) %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class=" col-md-8">
    <h2 class='collapsable-heading' >
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Body <small>(click to expand)</small>
      </a>
    </h2>
    <div id="collapseOne" class="panel-collapse collapse">
      <pre><%= document.body %></pre>
    </div>
  </div>
</div>
<div class="row">
  <div class=" col-md-8">
    <h2>Attachments</h2>
    <% if document.attachments.any? %>
      <table class='table table-bordered table-hover'>
        <thead>
          <th>Title</th>
          <th>Created</th>
          <th>Last updated</th>
        </thead>
        <% document.attachments.each do | attachment | %>
        <tr>
          <td><%= attachment.title %></td>
          <td><%= attachment.created_at.to_s(:govuk_date)%></td>
          <td><%= attachment.updated_at.to_s(:govuk_date)%></td>
        </tr>
        <% end %>
      </table>
    <% else %>
      <p class='no-content-message'>This document doesn't have any attachments</p>
    <% end %>
  </div>
</div>
<%= render partial: 'shared/document_actions', locals: {document: document} %>
