<%= content_for :page_title, current_format.title.pluralize %>

<% content_for :breadcrumbs do %>
  <li class='active'><%= current_format.title.pluralize %></li>
<% end %>

<h1 class="page-header"><%= current_format.title.pluralize %></h1>

<div class="row">
  <div class="col-md-12 text-right">
    <p>
      <% if current_format.target_stack == "draft" %>
        <%= link_to "Preview draft (opens in new tab)", current_format.draft_url, target: "_blank" %>
      <% elsif current_format.target_stack == "live" %>
        <%= link_to "View on website (opens in new tab)", current_format.live_url, target: "_blank" %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="sidebar col-md-3">
    <%= link_to "Add another #{current_format.title}", new_document_path(current_format.admin_slug), class: 'action-link' %>
    <hr>
    <%= link_to "Finder setup", finder_path(current_format.admin_slug), class: 'action-link' %>

    <%= form_tag(documents_path(current_format.admin_slug), method: :get, class: "add-vertical-margins well") do %>
      <% if current_format.has_organisations? %>
        <%= label_tag "organisation", "Organisation" %>
        <%= select_tag "organisation",
              options_for_select(organisations_options_with_all, selected_organisation_or_current(@organisation)),
              class: "select2 form-control add-bottom-margin" %>
      <% end %>

      <%= label_tag "query", "Search" %>
      <%= text_field_tag("query", @query, class: "form-control add-bottom-margin") %>

      <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
    <% end %>
    <% if current_format.exportable? %>
      <%= link_to "Export document list to CSV", export_documents_path(current_format.admin_slug, query: @query) %>
    <% end %>
  </div>

  <div class="col-md-9">
    <% if !@paged_documents.empty? %>
      <ul class="document-list">
        <%= render partial: 'documents/legacy/document_legacy', collection: @paged_documents, as: :document %>
      </ul>
      <%= paginate @paged_documents, :theme => 'twitter-bootstrap-3' %>
    <% elsif @query %>
      <p class="no-content no-content-bordered">Your search – <%= @query %> – did not match any documents.</p>
    <% else %>
      <p class="no-content no-content-bordered">No <%= current_format.title.pluralize %> available.</p>
    <% end %>
  </div>
</div>
