<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
  collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "All finders",
        url: finders_path
      }
    ]
  } %>
<% end %>
<% content_for :page_title, "Request for a new finder" %>
<% content_for :title, "Request for a new finder" %>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      This form is for internal (developer) use only and is not intended to be used by publishers.
    </p>
  </div>
</div>

<% if defined?(@proposed_schema) && @proposed_schema.to_json != "{}" %>
  <% if @proposed_schema.filter && !@proposed_schema.filter["format"].blank? %>
    <div class="govuk-body">
      <p>Follow these naming conventions:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add the schema below to a file named <code><%= @proposed_schema.filter["format"].pluralize %>.json</code>
        </li>
        <li>the corresponding model should be <code><%= @proposed_schema.filter["format"] %>.rb</code></li>
        <li>the corresponding view should be <code>_<%= @proposed_schema.filter["format"].pluralize %>.html.erb</code>
        </li>
      </ul>
    </div>
  <% end %>
  <%= render "govuk_publishing_components/components/details", {
    title: "View generated schema",
    open: true,
  } do %>
    <pre><code><%= JSON.pretty_generate(@proposed_schema.as_json) %></code></pre>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(finders_path) do %>
      <%= render "govuk_publishing_components/components/heading", {
        text: "Metadata",
        margin_bottom: 3,
      } %>

      <%= render "metadata_form_fields", { schema: @proposed_schema } %>

      <%= render "govuk_publishing_components/components/heading", {
        text: "Facets",
        margin_bottom: 3,
      } %>

      <%= render "facets_form_fields", { schema: @proposed_schema } %>

      <div class="govuk-button-group govuk-!-margin-top-8">
        <%= render "govuk_publishing_components/components/button", {
          text: "Generate schema",
        } %>
      </div>
    <% end %>
  </div>
</div>
