<%= form_for(@attachment, :url => url, method: method) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control input-md-8' %>
  </p>
  <p>
    <%= f.label :file %>
    <%= f.file_field :file %>
  </p>
  <div class='actions'>
    <button type="submit" class='btn btn-success'>Save attachment</button>
  </div>
<% end %>
