<% label ||= f.object.finder_schema.humanized_facet_name(field) %>

<div class="form-group <%= 'elements-error' if field_has_errors(@document, field) %>">
  <%= f.label field, for: "#{format}_#{field}_year" do %>
    <%= label %>
    <% field_errors(@document, field).each do |msg| %>
      <br>
      <span class="elements-error-message add-label-margin"><%= msg.html_safe %></span>
    <% end %>
  <% end %>

  <% date = @document.public_send(field) %>
  <div class="date-layout">
    <p class="form-hint">For example, 2013 03 20</p>
    <div class="row">
      <%= f.label 'Year', class: "col-md-2", for: "#{format}_#{field}_year" %>
      <%= f.label 'Month', class: "col-md-2", for: "#{format}_#{field}_month" %>
      <%= f.label 'Day', class: "col-md-2", for: "#{format}_#{field}_day" %>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <%= f.text_field field, name: "[#{format}]#{field}(1i)", id: "#{format}_#{field}_year", class: 'form-control', value: date_value("year", date), type: "number", min: '1000', max: '9999' %>
      </div>
      <div class="col-md-2">
        <%= f.text_field field, name: "[#{format}]#{field}(2i)", id: "#{format}_#{field}_month", class: 'form-control', value: date_value("month", date), type: "number", min: '1', max: '12' %>
      </div>
      <div class="col-md-2">
        <%= f.text_field field, name: "[#{format}]#{field}(3i)", id: "#{format}_#{field}_day", class: "form-control", value: date_value("day", date), type: "number", min: '1', max: '31' %>
      </div>
    </div>
  </div>
</div>
