<div class="form-group <%= 'elements-error' if @document.errors.full_messages_for(:title).any? %>">
  <%= f.label :title do %>
    <%= :title.to_s.humanize %>
    <% @document.errors.full_messages_for(:title).each do |msg| %>
      <br />
      <span class="elements-error-message add-label-margin"><%= msg %></span>
    <% end %>
  <% end %>
  <%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :summary %>
  <%= f.text_area :summary, class: 'form-control short-textarea' %>
</div>
<div class="form-group">
  <%= f.label :body %>
  <%= f.text_area :body, rows: 20, class: 'form-control' %>
</div>
