<% format_name = f.object.class.finder_schema.filter["format"].to_sym %>
<%= render "govuk_publishing_components/components/input", {
  label: {
    text: "Title (required)"
  },
  name: "#{format_name}[title]",
} %>

<% count_message_threshold = 280 %>
<% count_message_selector = ".summary-length-info" %>
<%= render "govuk_publishing_components/components/textarea", {
  label: {
    text: "Summary (required)"
  },
  name: "#{format_name}[summary]",
  class: "js-length-counter",
  data: {
    count_message_threshold:,
    count_message_selector:,
  },
} do %>
<div class="govuk-hint" aria-live="polite">Summary text should be <%= count_message_threshold %> characters or fewer. <span class="count"></span></div>
<% end %>

<%= render "govuk_publishing_components/components/textarea", {
  label: {
    text: "Body (required)"
  },
  name: "#{format_name}[body]",
  rows: 20,
} %>

<%= render layout: "shared/form_group", locals: { f: f, field: :locale, label: "Language" } do %>
  <%= f.select(
    :locale,
    options_for_select(
      map_locale_names,
      @document.locale || "en"
    ),
    {
      class: 'select2',
      multiple: false,
      data: { placeholder: 'Select locale' }
    },
  ) %>
<% end %>
