<div class="govspeak-help govuk-!-margin-bottom-6">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Formatting",
    heading_level: 2,
    font_size: "l",
    margin_bottom: 6
  } %>

  <p class="govuk-body">
    For details, read
    the <%= link_to("guide to using Markdown", "https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown", class: "govuk-link") %>
  </p>

  <%= yield :format_specific_help %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Paste and convert to Markdown",
  } do %>
    <p class='govuk-body'>You can paste formatted text into the body field and Whitehall publisher will try to convert it into GOV.UK’s version of Markdown, Govspeak.</p>
    <p class='govuk-body'>This works best when copy and pasting from text editing software like Word or Google Docs. It is less likely to recognise formatting from PDFs.</p>
    <p class='govuk-body'>It will convert:</p>
    <ul class='gem-c-list govuk-list govuk-list--bullet'>
      <li>headings</li>
      <li>bullets</li>
      <li>numbered lists</li>
      <li>links</li>
      <li>email links</li>
    </ul>
    <p class='govuk-body'>Other formatting, such as tables, will be removed and only plain text pasted. You’ll need to write the Markdown for these separately.</p>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Headings",
  } do %>
    <pre class="govspeak-help__pre">## Top level heading – H2<br>### Second level heading – H3<br>#### Third level heading – H4<br><br>Don’t use a single # – this is H1 and is for the title only</pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Links",
  } do %>
    <p class='govuk-body'>All documents created in the publisher should be linked to using full public URLs:</p>
    <pre class='govspeak-help__pre'>[a public URL](https://www.gov.uk/government/policies/example-policy)</pre>
    <p class='govuk-body'>For external websites, use the full URL including http://:</p>
    <pre class='govspeak-help__pre'>[link text](http://www.example.com)</pre>
    <h4 class='govuk-heading-m'>Linking to paragraphs</h4>
    <p class='govuk-body'>If you want to link to specific paragraphs within a document, you need to mark the paragraph as linkable by placing an anchor tag <strong>below</strong> the paragraph:
    </p>
    <pre class='govspeak-help__pre'>Stocks of some fish species are very low. For example, stocks of European Eel have declined by about 95% over the last 30 years.<br>{:#eel-decline}</pre>
    <p class='govuk-body'>The paragraph can then be linked to from the same document:</p>
    <pre class='govspeak-help__pre'>[Sample link text](#eel-decline)</pre>
    <p class='govuk-body'>or from another document:</p>
    <pre class='govspeak-help__pre'>[Sample link text](https://www.gov.uk/government/policies/managing-freshwater-fisheries#eel-decline)</pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Bullets",
  } do %>
    <pre class='govspeak-help__pre'>* item 1
* item 2
    * sub-item
    * another sub-item
  (to indent, add 2 spaces)</pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Numbered lists",
  } do %>
    <pre class='govspeak-help__pre'>1. item 1
  2. item 2
  3. item 3
    * sub-item
    * another sub-item
  (to indent, add 2 spaces)</pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Legislative list",
  } do %>
   <p class='govuk-body'>For lists where you want to specify the numbering and have multiple indent levels.</p>
   <pre class='govspeak-help__pre'>$LegislativeList
  * 1. Item 1
  * 2. Item 2
    * a) Item 2a
    * b) Item 2b
      * i. Item 2 b i
      * ii. Item 2 b ii
  * 3. Item 3
  $EndLegislativeList
  (to indent, add 2 spaces)</pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Tables",
  } do %>
    <p class='govuk-body'>Tables can be inserted by splitting your content into cells:</p>
    <pre class='govspeak-help__pre'>
| name | colour |
|--------|-------|
| apple | green |
| banana | yellow |</pre>

  <p class='govuk-body'>You can also use a shorthand version of the markdown, which will produce exactly the same output:</p>
    <pre class='govspeak-help__pre'>name | colour
-|-
apple | green
banana | yellow</pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Call to action",
  } do %>
    <pre class='govspeak-help__pre'>$CTA
[Use the trade tariff tool to find commodity codes.](https://www.gov.uk/trade-tariff)
$CTA</pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Abbreviations and acronyms",
  } do %>
    <pre class='govspeak-help__pre'>*[DWP]: Department for Work and Pensions</pre>
    <p class='govuk-body'>Text found in content which matches what’s in the brackets <code>[ ]</code> (eg DWP), will have the full text (Department for Work and Pensions) available to screenreaders and when hovering: <abbr title="Department for Work and Pensions">DWP</abbr>. The markdown code will not be displayed.</p>
    <p class='govuk-body'>List abbreviation markdown at the end.</p>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Blockquotes",
  } do %>
    <pre class='govspeak-help__pre'>As the Prime Minister said:
&gt; Rule, Britannia, rule the waves.
&gt;
&gt; Britons never shall be slaves.</pre>
    <p class='govuk-body'>The &gt; in the line space is important. If you leave it out you will get 2 separate quotes, not 1 running quote.</p>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Addresses",
  } do %>
    <pre class='govspeak-help__pre'>
$A
Address
Only
Here
$A
    </pre>
  <% end %>

  <%= render "govuk_publishing_components/components/details", {
    title: "Footnotes",
  } do %>
    <pre class='govspeak-help__pre'>Footnotes can be added[^1].

  [^1]: And then later defined.</pre>
    <p class='govuk-body'>
      You can add a footnote marker to a document using [^<em>i</em>] where <em>i</em> is the footnote number or label. Each of these tags should have corresponding footnote content, defined with [^<em>i</em>]: <em>The footnote content</em>. The footnote content will always appear at the end of the document regardless of where they are in the markdown.
    </p>
    <p class='govuk-body'>
      Footnote content can hold more than one paragraph by indenting the content 4 spaces:
    </p>

    <pre class='govspeak-help__pre'>[^1]:
    This is some footnote content and is indented 4 spaces.

    This paragraph is also indented, so will be considered part of the footnote content.</pre>
  <% end %>
</div>

<div class="govuk-!-margin-bottom-6">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Use plain English",
    heading_level: 3,
    font_size: "m",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">For details, see the <%= link_to "guideline on using plain English", "https://www.gov.uk/guidance/content-design/writing-for-gov-uk#plain-english", class: "govuk-link" %>

    <%= render "govuk_publishing_components/components/details", {
      title: "List of words to avoid",
    } do %>
    <ul class='gem-c-list govuk-list govuk-list--bullet'>
      <li>agenda (unless it’s for a meeting)</li>
      <li>advancing</li>
      <li>collaborate (use ‘working with’)</li>
      <li>combating</li>
      <li>commit/pledge (we need to be more specific – we’re either doing something or we’re not)</li>
      <li>countering</li>
      <li>deliver (pizzas, post and services are delivered – not abstract concepts like ‘improvements’ or ‘priorities’)</li>
      <li>deploy (unless it’s military or software)</li>
      <li>dialogue (we speak to people)</li>
      <li>disincentivise (and incentivise)</li>
      <li>empower</li>
      <li>facilitate (instead, say something specific about how you are helping)</li>
      <li>focusing</li>
      <li>foster (unless it’s children)</li>
      <li>impact (as a verb)</li>
      <li>initiate</li>
      <li>key (unless it unlocks something. A subject/thing isn’t ‘key’ – it’s probably ‘important’)</li>
      <li>land (as a verb. Only use if you are talking about aircraft)</li>
      <li>leverage (unless in the financial sense)</li>
      <li>liaise</li>
      <li>overarching</li>
      <li>progress (as a verb – what are you actually doing?)</li>
      <li>promote (unless you are talking about an ad campaign or some other marketing promotion)</li>
      <li>robust</li>
      <li>slimming down (processes don’t diet – we are probably removing x amount of paperwork, etc)</li>
      <li>streamline</li>
      <li>strengthening (unless it’s strengthening bridges or other structures)</li>
      <li>tackling (unless it’s rugby, football or some other sport)</li>
      <li>transforming (what are you actually doing to change it?)</li>
      <li>utilise</li>
    </ul>

    <p class="govuk-body">Always avoid metaphors. For example:</p>

    <ul class='gem-c-list govuk-list govuk-list--bullet'>
      <li>drive (you can only drive vehicles; not schemes or people)</li>
      <li>drive out (unless it’s cattle)</li>
      <li>going forward (unlikely we are giving travel directions)</li>
      <li>in order to (superfluous – don’t use it)</li>
      <li>one-stop shop (we are government, not a retail outlet)</li>
      <li>ring fencing</li>
    </ul>
  <% end %>
</div>

<div class="govuk-!-margin-bottom-6">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Style",
    heading_level: 3,
    font_size: "m",
    margin_bottom: 4,
  } %>

  <p class="govuk-body">For style, see the <%= link_to "style guide", "https://www.gov.uk/guidance/style-guide", class: "govuk-link" %>
</div>