<div class="col-md-4">
  <%= render partial: 'shared/govspeak_help' %>
  <h2>Attachments</h2>

  <% if @document.publication_state %>
      <%= link_to "Add attachment", new_document_attachment_path(params[:document_type_slug], @document.content_id) %>
  <% else %>
      <p>To add an attachment, please save the draft first.</p>
  <% end %>
  <% if @document.attachments %>
      <ul class="attachments">
        <% @document.attachments.each do |attachment| %>
            <li class="attachment">
              <span class="title"><%= attachment.title %></span>
              <%= link_to "edit", edit_document_attachment_path(params[:document_type_slug],
                  @document.content_id,
                  attachment.content_id)
              %>
              <%= button_to("delete", document_attachment_path(params[:document_type_slug],
                                                               @document.content_id,
                                                               attachment.content_id),
                            method: "delete")
              %>
              <%= attachment.snippet %>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>
