<%= render partial: "shared/govspeak_help" %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Attachments",
  font_size: "l",
  margin_bottom: 6
} %>

<% if @document.publication_state %>
  <p class="govuk-body">
    <%= link_to "Add attachments", new_document_attachment_path(params[:document_type_slug], @document.content_id_and_locale), class: "govuk-link govuk-link--no-visited-state" %>
  </p>
<% else %>
  <p class='govuk-body'>To add an attachment, please save the draft first.</p>
<% end %>

<% if @document.attachments %>
    <div class="attachments">
      <% @document.attachments.each do |attachment| %>
          <div class="attachment govuk-!-margin-top-6">
            <p class="govuk-body">
              <strong>Title: </strong>
              <span class="title"><%= attachment.title %></span>
            </p>

            <p class="govuk-body">
              <strong>Attachment: </strong>
              <span> <%= attachment.snippet %> </span>
            </p>

            <div class="govuk-button-group">
              <%= link_to "Edit attachment",
                          edit_document_attachment_path(params[:document_type_slug],
                                                        @document.content_id_and_locale,
                                                        attachment.content_id),
                          class: "govuk-link govuk-link--no-visited-state"
              %>
              <%= link_to "Delete attachment",
                          confirm_delete_document_attachment_path(params[:document_type_slug],
                                                                    @document.content_id_and_locale,
                                                                    attachment.content_id),
                          class: "govuk-link gem-link--destructive" %>
            </div>
            <hr>
          </div>
      <% end %>
    </div>
<% end %>
