<div class="col-md-8">
  <%= form_for document do |f| %>
    <%= render partial: "shared/form_errors", locals: { object: document } %>
    <%= render partial: "shared/form_fields", locals: { f: f } %>
    <%= render partial: "shared/form_preview" %>

  <%= f.select :fund_state, f.object.facet_options(:fund_state), {}, { class: 'form-control' } %>
  <%= f.select :fund_type, f.object.facet_options(:fund_type), {}, { class: 'select2', multiple: true, data: {placeholder: 'Select a fund type'} } %>
  <%= f.select :location, f.object.facet_options(:location), {}, { class: 'select2', multiple: true, data: {placeholder: 'Select a location'} } %>
  <%= f.select :funding_source, f.object.facet_options(:funding_source), {}, { class: 'select2', multiple: true, data: {placeholder: 'Select a source'} } %>
  <%= f.text_field :closing_date, placeholder: '2018-10-19', class: 'form-control' %>

  <%= render partial: "specialist_documents/minor_major_update_fields", locals: { f: f, document: document } %>

  <div class="actions">
    <button name="save" class="btn btn-success">Save as draft</button>
  </div>
  <% end %>
</div>

<%= render partial: "specialist_documents/attachments_form", locals: { document: document } %>

<%= render partial: "specialist_documents/js_preview", locals: { document: document, form_namespace: "esi_fund" } %>
