<% title = "Editing #{current_format.title}" %>
<% content_for :page_title, title %>
<% content_for :title, title %>
<% content_for :error_summary, render(ErrorSummaryComponent.new(object: @document)) %>
<% content_for :context, @document.title %>

<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "All finders",
        url: finders_path
      },
      {
        title: "#{current_format.title.pluralize} finder",
        url: documents_path(current_format.admin_slug)
      },
      {
        title: @document.title,
        url: document_path(current_format.admin_slug, @document.content_id_and_locale)
      },
      {
        title: "Edit document"
      }
    ]
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @document, url: document_path(document_type_slug: params[:document_type_slug],
                                               content_id_and_locale: "#{@content_id_param}:#{@locale_param}"),
                 method: :put,
                 html: { class: "edit_document" } do |f| %>
      <%= render partial: "shared/form_fields", locals: { f: f } %>

      <%= render partial: computed_partial, locals: { f: f } %>

      <%= render partial: "shared/minor_major_update_fields", locals: { f: f, document: @document } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Save",
          name: "save",
          value: "save",
        } %>
        <%= link_to "Cancel",
                    document_path(current_format.admin_slug, @document.content_id_and_locale),
                    class: "govuk-link govuk-link--no-visited-state app-link--inline",
                    data: { gtm: "cancel-edit" } %>
      </div>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render partial: 'attachments/attachment_links' %>
  </div>
</div>
