<%= content_for :page_title, "New #{current_format.title_for_new_document}" %>

<% content_for :breadcrumbs do %>
  <li><%= link_to "Your documents", documents_path(current_format.slug) %></li>
  <li class='active'>New document</li>
<% end %>

<% content_for :document_ready do -%>
  GOVUK.formChangeProtection.init($('.new_document'), 'You have unsaved changes that will be lost if you leave this page.');
<% end -%>

<h1>New <%= current_format.title_for_new_document %></h1>

<div class="row">
  <div class="col-md-8">
    <%= form_for @document, url: documents_path(params[:document_type_slug]),
                            html: { class: "new_document" } do |f| %>
      <%= render partial: "shared/form_fields", locals: { f: f } %>

      <%= render partial: "shared/preview_govspeak", locals: {attachments: @document.attachments} %>

      <%= render partial: "metadata_fields/#{params[:document_type_slug].underscore}", locals: { f: f } %>

      <div class="actions">
        <button name="save" class="btn btn-success" data-disable-with="Saving...">Save as draft</button>
      </div>
    <% end %>
  </div>

  <%= render partial: 'attachments/attachment_links' %>
</div>
