<% content_for :breadcrumbs do %>
  <li><%= link_to "Your documents", documents_path(current_format.document_type) %></li>
  <li class='active'><%= @document.title %></li>
<% end %>

<%= render partial: "shared/title", locals: { document: @document, public_url: published_document_path(@document) } %>

<div class="row">
  <div class="col-md-8">
    <h2>Summary</h2>
    <p class="lead"><%= @document.summary %></p>
  </div>
</div>
<div class="row add-bottom-margin">
  <div class=" col-md-8">
    <h2>Metadata</h2>
    <dl class="metadata-list">
      <% @document.humanized_attributes.each_pair do |label, values| %>
        <dt><%= label.to_s.humanize %></dt>
        <% if values.is_a?(Time) %>
          <dd><time><%= values.to_s(:govuk_date) %></time></dd>
        <% else %>
          <% Array(values).each do |value| %>
            <dd><%= truncate(value.to_s, length: 140) %></dd>
          <% end %>
        <% end %>
      <% end %>
      <dt>Publication state</dt>
      <dd><%= state(@document) %></dd>
    </dl>
  </div>
</div>

<% if @document.body.present? %>
  <div class="row">
    <div class="col-md-8">
      <h2>Body</h2>
      <pre class="body-pre add-bottom-margin"><%= @document.body %></pre>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <h2>Actions</h2>
    <div class="well">
      <%= link_to "Edit document", edit_document_path(current_format.document_type, @document.content_id), class: "btn btn-success" %>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Publish document</h3>
      </div>
      <div class="panel-body">
        <%= form_tag(publish_document_path(current_format.document_type, @document.content_id), method: :post) do %>
          <button name="submit" class="btn btn-danger" data-module="confirm" data-message="Publishing will email subscribers to <%= current_format.title.pluralize %> Continue?">Publish</button>
        <% end %>
      </div>
    </div>

    <%= form_tag(withdraw_document_path(current_format.document_type, @document.content_id), method: :post, class: 'panel panel-default') do %>
        <div class="panel-heading">
          <div class="panel-title">
            Withdraw document
          </div>
        </div>
        <div class="panel-body">
          <p>The document will be removed from the site. It will still be possible to edit the document and publish a new version.</p>
          <button name="submit" class="btn btn-warning" data-module="confirm" data-message="Are you sure you want to withdraw this document?">Withdraw document</button>
        </div>
    <% end %>
  </div>
</div>
