<% content_for :breadcrumbs do %>
  <li><%= link_to "Your documents", documents_path(current_format.document_type) %></li>
  <li class='active'><%= @document.title %></li>
<% end %>

<%= render partial: "shared/title", locals: { document: @document, public_url: published_document_path(@document) } %>

<div class="row">
  <div class="col-md-8">
    <h2>Summary</h2>
    <p class="lead"><%= @document.summary %></p>
  </div>
</div>
<div class="row add-bottom-margin">
  <div class=" col-md-8">
    <h2>Metadata</h2>
    <dl class="metadata-list">
      <% @document.humanized_attributes.each_pair do |label, values| %>
        <dt><%= label.to_s.humanize %></dt>
        <% if values.is_a?(Time) %>
          <dd><time><%= values.to_s(:govuk_date) %></time></dd>
        <% else %>
          <% Array(values).each do |value| %>
            <dd><%= truncate(value.to_s, length: 140) %></dd>
          <% end %>
        <% end %>
      <% end %>
      <dt>Publication state</dt>
      <dd><%= state(@document) %></dd>
    </dl>
  </div>
</div>

<% if @document.body.present? %>
  <div class="row">
    <div class="col-md-8">
      <h2>Body</h2>
      <pre class="body-pre add-bottom-margin"><%= @document.body %></pre>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%
      truncate_at_size = 5
      attachments = @document.attachments || []
    %>
    <h2 class="add-bottom-margin">
      <%= number_with_delimiter(attachments.size) %> <%= 'attachment'.pluralize(attachments.size) %>
    </h2>
    <% if attachments.any? %>
      <table class="table table-bordered table-striped add-bottom-margin" data-module="toggle">
        <thead>
          <tr class="table-header">
            <th>Title</th>
            <th>Created</th>
            <th>Last&nbsp;updated</th>
          </tr>
        </thead>
        <% attachments.each_with_index do | attachment, i | %>
          <% if i == truncate_at_size - 1 %>
            <tr class="table-header">
              <td colspan="3" class="js-toggle-target text-center">
                <strong><a href="#expand-table" class="js-toggle">…and <%= attachments.size - (truncate_at_size - 1) %> more</a></strong>
              </td>
            </tr>
          <% end %>
          <tr <% if i > truncate_at_size - 2 %>class="js-toggle-target if-js-hide"<% end %>>
            <td><%= attachment.title %></td>
            <td><%= attachment.created_at.to_date.to_s(:govuk_date) %></td>
            <td><%= attachment.updated_at.to_date.to_s(:govuk_date) %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p class='no-content-message'>This document doesn’t have any attachments</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Actions</h2>
    <div class="well">
      <%= link_to "Edit document", edit_document_path(current_format.document_type, @document.content_id), class: "btn btn-success" %>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Publish document</h3>
      </div>
      <div class="panel-body">
        <%= form_tag(publish_document_path(current_format.document_type, @document.content_id), method: :post) do %>
          <button name="submit" class="btn btn-danger" data-module="confirm" data-message="Publishing will email subscribers to <%= current_format.title.pluralize %> Continue?">Publish</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
