<div class="col-md-8">
  <%= form_for document do |f| %>
    <%= render partial: "shared/form_errors", locals: { object: document } %>
    <%= render partial: "shared/form_fields", locals: { f: f } %>
    <%= render partial: "shared/form_preview" %>

    <%= f.text_field :opened_date, placeholder: '2012-04-23', class: 'form-control' %>
    <%= f.text_field :closed_date, placeholder: '2013-10-19', class: 'form-control' %>
    <%= f.select :case_type, f.object.facet_options(:case_type), {}, { class: 'form-control' } %>
    <%= f.select :case_state, f.object.facet_options(:case_state), {}, { class: 'form-control' } %>
    <%= f.select :market_sector, f.object.facet_options(:market_sector), {}, { class: 'select2', multiple: true, data: { placeholder: 'Select a market sector' } } %>
    <%= f.select :outcome_type, f.object.facet_options(:outcome_type), { include_blank: true }, { class: 'form-control' } %>

    <%= render partial: "specialist_documents/minor_major_update_fields", locals: { f: f, document: document } %>

    <div class="actions">
      <button name="save" class="btn btn-success">Save as draft</button>
    </div>
  <% end %>
</div>

<%= render partial: "specialist_documents/attachments_form", locals: { document: document } %>

<%= render partial: "specialist_documents/js_preview", locals: { document: document, form_namespace: "cma_case" } %>
