<div class="row">
  <div class="col-md-8">
    <%= form_for manual do |f| %>
      <%= render partial: "shared/form_errors", locals: { object: manual } %>

      <%= f.text_field :title %>
      <%= f.text_area :summary, class: 'short-textarea js-length-counter', data: { :"count-message-threshold" => 280, :"count-message-selector" => ".summary-length-info" } %>
      <div class="summary-length-info" aria-live="polite">
        Summary text should be 280 characters or fewer. <span class="count"></span>
      </div>
      <div class='actions'>
        <button name="draft" class="btn btn-success">Save as draft</button>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= render partial: 'shared/govspeak-help' %>
  </div>
</div>
