<div class="row">
  <div class="col-md-8">
    <%= form_for manual do |f| %>
      <%= render partial: "shared/form_errors", locals: { object: manual } %>

      <%= f.text_field :title, class: 'form-control' %>
      <%= f.text_area :summary, class: 'form-control short-textarea js-length-counter', data: { :"count-message-threshold" => 280, :"count-message-selector" => ".summary-length-info" } %>
      <div class="summary-length-info" aria-live="polite">
        Summary text should be 280 characters or fewer. <span class="count"></span>
      </div>
      <%= f.text_area :body, class: 'form-control' %>

      <div class="preview_button add-vertical-margins"></div>
      <div class="preview_container add-vertical-margins" style="display: none;"></div>

      <div class='actions'>
        <button name="draft" class="btn btn-success">Save as draft</button>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= render partial: 'shared/govspeak-help' %>
  </div>
</div>

<%= content_for :document_ready do %>
  window.SpecialistDocument.addPreviewFeature({
    'url'             : '<%= preview_path_for_manual(manual) %>',
    'insert_into'     : '.preview_container',
    'insert_button'   : '.preview_button',
    'render_to'       : '.preview .govspeak',
    'data_target'     : function() {
                          return {
                            'manual' : {
                              'body' : $('#manual_body').val()
                            }
                          };
                        }
  });
<% end -%>
