<% content_for :breadcrumbs do %>
  <li class='active'>Your manuals</li>
<% end %>

<h1 class="page-header">
  Your manuals <small>(<%= manuals.count %>)</small>
</h1>

<div class="row">
  <div class="sidebar col-md-3">
    <%= link_to "New manual", new_manual_path, class: 'action-link' %>
  </div>
  <div class="col-md-9">
    <ul class="document-list">
      <% manuals.each do |manual| %>
        <li class="document">
          <%= link_to manual.title, manual_path(manual), class: 'document-title' %>
          <ul class="metadata">
            <li class="text-muted">Updated <%= time_ago_in_words(manual.updated_at) %> ago</li>
            <li>
              <%= state(manual) %>
            </li>
            <% if current_user_is_gds_editor? %>
              <li class="text-muted">From <%= link_to manual.organisation_slug, url_for_public_org(manual.organisation_slug) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
