<h1 class="page-header"><%= manual.title %></h1>

<%= link_to 'Edit', edit_manual_path(manual), class: 'btn btn-default' %>

<div class="row">
  <div class="sidebar col-md-8">
    <%= manual.summary %>
  </div>
</div>

<div class="row">
  <ul class="documents">
    <% manual.documents.each do |document| %>
      <li><%= link_to(document.title, manual_document_path(manual, document)) %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Add section', new_manual_document_path(manual), class: 'btn btn-default' %>
