<% content_for :breadcrumbs do %>
  <li><%= link_to "Your manuals", manuals_path %></li>
  <li class='active'><%= manual.title %></li>
<% end %>

<%= render partial: "shared/title", locals: { document: manual, public_url: url_for_public_manual(manual) } %>

<div class="row">
  <div class="col-md-8">

    <% unless clashing_sections.empty? %>
      <p>Warning: There are duplicate section slugs in this manual.</p>
      <ul>
        <% clashing_sections.each do |slug, sections| %>
          <li><%= slug %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-md-8">
    <h2>Summary</h2>
    <p class="lead"><%= manual.summary %></p>
  </div>
</div>

<% if manual.body.present? %>
  <div class="row">
    <div class=" col-md-8">
      <h2>Body</h2>
      <pre class="body-pre add-bottom-margin"><%= manual.body %></pre>
    </div>
  </div>
<% end %>

<div class="row add-bottom-margin">
  <div class="col-md-8">
    <h2>Metadata</h2>
    <dl class="metadata-list">
      <dt>State</dt>
      <dd><%= state(manual) %></dd>
    </dl>
    <% if manual.publish_tasks.any? %>
      <dl class="metadata-list">
        <dt>Last published</dt>
        <dd><%= publication_task_state(manual.publish_tasks.first) %></dd>
      </dl>
    <% end %>
    <% if current_user_is_gds_editor? %>
      <dl class="metadata-list">
        <dt>From</dt>
        <dd><%= link_to manual.organisation_slug, url_for_public_org(manual.organisation_slug) %></dd>
      </dl>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Sections</h2>
    <div class="add-bottom-margin">
      <%= link_to 'Reorder sections', reorder_manual_documents_path(manual), class: 'btn btn-default add-right-margin' %>
      <%= link_to 'Add section', new_manual_document_path(manual), class: 'btn btn-default' %>
    </div>
    <% if manual.documents.any? %>
    <ul class="document-list">
     <% manual.documents.each do |document| %>
        <li class="document">
          <%= link_to(document.title, manual_document_path(manual, document), class: 'document-title') %>
          <ul class="metadata">
            <li class="text-muted">Updated <%= time_ago_in_words(document.updated_at) %> ago</li>
          </ul>
        </li>
      <% end %>
    </ul>
    <% else %>
      <p class='no-content-message'>You haven&rsquo;t added any sections to this manual yet.</p>
    <% end %>

    <div class="well">
      <%= link_to 'Edit manual', edit_manual_path(manual), class: 'btn btn-success' %>
    </div>

    <% if manual.documents.any? && current_user_can_publish?("manual") && slug_unique %>
      <%= form_tag(publish_manual_path(manual), method: :post, class: 'well') do %>
        <button name="submit" class="btn btn-danger" data-module="confirm" data-message="Are you sure you want to publish this manual?">Publish manual</button>
      <% end -%>
    <% end %>
  </div>
</div>
