<% content_for :breadcrumbs do %>
  <li><%= link_to "Your manuals", manuals_path %></li>
  <li class='active'><%= manual.title %></li>
<% end %>

<h1 class="page-header">
  <%= manual.title %>
  <% if manual.state == 'published' %>
    <span class='document-slug'><%= link_to manual.slug, url_for_public_manual(manual) %></span>
  <% else %>
    <span class='document-slug' title='When published this manual will appear here.'><%= manual.slug %></span>
  <% end %>
</h1>

<div class="row">
  <div class="col-md-8">

    <% unless clashing_sections.empty? %>
      <p>Warning: There are duplicate section slugs in this manual.</p>
      <ul>
        <% clashing_sections.each do |slug, sections| %>
          <li><%= slug %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-md-8">
    <h2>Summary</h2>
    <p><%= manual.summary %></p>
  </div>
</div>

<div class="row">
  <div class=" col-md-8">
    <h2 class='collapsable-heading' >
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Body <small>(click to expand)</small>
      </a>
    </h2>
    <div id="collapseOne" class="panel-collapse collapse">
      <pre><%= manual.body %></pre>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <h2>Metadata</h2>
    <dl class='metadata-list'>
      <dt>State</dt>
      <dd><%= state(manual) %></dd>
    </dl>
    <% if manual.publish_tasks.any? %>
      <dl class="metadata-list">
        <dt>Last published</dt>
        <dd><%= publication_task_state(manual.publish_tasks.first) %></dd>
      </dl>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2 class='with-actions'>Sections</h2>
    <ul class="title-actions">
      <li><%= link_to 'Reorder sections', reorder_manual_documents_path(manual), class: 'action-link' %></li>
      <li><%= link_to 'Add section', new_manual_document_path(manual), class: 'action-link' %></li>
     </ul>
    <% if manual.documents.any? %>
    <ul class="document-list">
     <% manual.documents.each do |document| %>
        <li class="document">
          <%= link_to(document.title, manual_document_path(manual, document), class: 'document-title') %>
          <ul class="metadata">
            <li>updated <%= time_ago_in_words(document.updated_at) %> ago</li>
          </ul>
        </li>
      <% end %>
    </ul>
    <% else %>
      <p class='no-content-message'>You haven&rsquo;t added any sections to this manual yet.</p>
    <% end %>

    <div class="well">
      <%= link_to 'Edit manual', edit_manual_path(manual), class: 'btn btn-success' %>
    </div>

    <% if manual.documents.any? && current_user_can_publish?("manual") && slug_unique %>
      <%= form_tag(publish_manual_path(manual), method: :post, class: 'well') do %>
        <button name='submit' class="btn btn-danger">Publish manual</button>
      <% end -%>
    <% end %>
  </div>
</div>
