<% content_for :breadcrumbs do %>
  <li><%= link_to "Your manuals", manuals_path %></li>
  <li class='active'><%= manual.title %></li>
<% end %>

<h1 class="page-header">
  <%= manual.title %>
  <% if manual.state == 'published' %>
    <span class='document-slug'><%= link_to manual.slug, url_for_public_manual(manual) %></span>
  <% else %>
    <span class='document-slug' title='When published this manual will appear here.'><%= manual.slug %></span>
  <% end %>
</h1>

  <div class="actions">
    <%= link_to 'Edit Manual', edit_manual_path(manual), class: 'btn btn-primary' %>
  </div>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="sidebar col-md-8">
    <p><b>State</b> <%= manual.state %></p>
  </div>
</div>

<div class="row">
  <div class="sidebar col-md-8">
    <p><b>Summary</b></p>
    <%= govspeak(manual.summary) %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h2>Sections</h2>
<% if manual.documents.any? %>
      <table class="documents table">
        <thead>
          <th>
            Section Title
          </th>
          <th>
            Last updated
          </th>
          <th>
          </th>
        </thead>
        <tbody>
          <% manual.documents.each do |document| %>
            <tr>
              <td>
                <%= link_to(document.title, manual_document_path(manual, document)) %>
              </td>
              <td>
                <%= time_ago_in_words(document.updated_at) %>
              </td>
              <td>
                <%= link_to('Edit', edit_manual_document_path(manual, document)) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% else %>
    <p class='no-content-message'>You haven&rsquo;t added any sections to this manual yet.</p>
  <% end %>
  <%= link_to 'Add Section', new_manual_document_path(manual), class: 'btn btn-primary' %>

  </div>
</div>
<% if manual.documents.any? %>
  <%= form_tag(publish_manual_path(manual), method: :post) do %>
    <button name='submit' class="btn btn-danger">Publish</button>
  <% end -%>
<% end %>
