<h1><%= human_document_type %></h1>

<p>
  The following <%= document_noun %> has been <%= updated_or_published %>
  <%= document_url %>
</p>

<h2><%= document_title %></h2>

<p>
  <%= document_summary %>
<p>
