<table id="govuk-email-content" style="max-width: 580px; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
  <tr>
    <td style="border-collapse: collapse; padding: 0 0 0 15px;">
      <h1 style="color: #0B0C0C !important; font-family: sans-serif; font-weight: 700; font-size: 30px; line-height: 1.111111111; margin: 15px 0; padding: 15px 0;">
        <%= human_document_type %>
      </h1>

      <p style="color: #0B0C0C; font-family: sans-serif; font-size: 19px; line-height: 1.315789474; margin: 15px 0;">
        <strong>
          <%= document_title %>
        </strong>
      </p>

      <p style="color: #0B0C0C; font-family: sans-serif; font-size: 19px; line-height: 1.315789474; margin: 15px 0;">
        <%= document_summary %>
      </p>

      <% if document_change_note.present? %>
        <p style="color: #0B0C0C; font-family: sans-serif; font-size: 19px; line-height: 1.315789474; margin: 15px 0;">
          Update: <%= document_change_note %>
        </p>
      <% end %>

      <p style="color: #0B0C0C; font-family: sans-serif; font-size: 19px; line-height: 1.315789474; margin: 15px 0;">
        For further information on this <%= updated_or_published %> <%= document_noun %>:
      </p>

      <p style="color: #0B0C0C; font-family: sans-serif; font-size: 19px; line-height: 1.315789474; margin: 15px 0;">
        <%= link_to document_url, document_url, style: "color: #005EA5; text-decoration: underline;" %>
      </p>
    </td>
  </tr>
</table>
