<div class='row'>
  <div class="col-md-8">
  <%= form_for [manual, document] do |f| %>
    <%= render partial: "shared/form_errors", locals: { object: document } %>

    <%= f.text_field :title, label: 'Section title', class: 'form-control' %>
    <%= f.text_area :summary, label: 'Section summary', class: 'form-control short-textarea js-length-counter', data: { :"count-message-threshold" => 280, :"count-message-selector" => ".summary-length-info" } %>
    <div class="summary-length-info warning" aria-live="polite">Summary text should be 280 characters or fewer. <span class="count"></span></div>
    <%= f.text_area :body, label: 'Section body', class: 'form-control' %>

    <div class="preview_button add-vertical-margins"></div>
    <div class="preview_container add-vertical-margins" style="display: none;"></div>

    <% if manual.published? %>
      <div class="checkbox add-vertical-margins">
        <%= f.check_box :minor_update %>
      </div>
      <%= f.text_area :change_note, class: 'form-control short-textarea' %>
    <% end %>

    <div class="actions">
      <button name='draft' class="btn btn-success">Save as draft</button>
    </div>
  <% end %>
</div>

<div class="col-md-4">

<% content_for :format_specific_help do %>
  <h3><a data-toggle="collapse" data-target="#govspeak-collapsible">Collapsible</a></h3>
  <div class="collapse" id="govspeak-collapsible">
    <pre>## Section title
body content to be collapsed.</pre>
  </div>
<% end %>

  <%= render partial: 'shared/govspeak-help' %>

  <h2>Attachments</h2>

  <% if document.persisted? %>
    <%= link_to "Add attachment", new_manual_document_attachment_path(manual, document) %>
  <% else %>
    <p>To add an attachment, please save the draft first.</p>
  <% end %>

  <ul class="attachments">
    <% document.attachments.each do |attachment| %>
      <li class="attachment">
        <span class="title"><%= attachment.title %></span>
        <span class="snippet"><%= attachment.snippet %></span>
        <%= link_to "edit", edit_manual_document_attachment_path(manual, document, attachment) %>
      </li>
    <% end %>
  </ul>
</div>
</div>
<%= content_for :document_ready do %>
  window.SpecialistDocument.addPreviewFeature({
    'url'             : '<%= preview_path_for_manual_document(manual, document) %>',
    'insert_into'     : '.preview_container',
    'insert_button'   : '.preview_button',
    'render_to'       : '.preview .govspeak',
    'data_target'     : function() {
                          return {
                            'document' : {
                              'body' : $('#document_body').val()
                            }
                          };
                        }
  });

  window.toggleHideWithCheckBox({
    $checkBox: $("#document_minor_update"),
    $elementToHide: $("#document_change_note").parent()
  });

<% end -%>
