<% content_for :breadcrumbs do %>
  <li><%= link_to "Your manuals", manuals_path %></li>
  <li><%= link_to manual.title, manual_path(manual) %></li>
  <li class='active'><%= document.title %></li>
<% end %>

<h1 class="page-header">
  <%= document.title %>
</h1>

<div class="row">
  <div class="sidebar col-md-8">
    <h2>Summary</h2>
    <p><%= document.summary %></p>
  </div>
</div>

<div class="actions">
  <%= link_to("Edit section", edit_manual_document_path(manual, document), class: 'action-link') %>
</div>
