<%= content_for :page_title, "Export as CSV" %>

<% content_for :breadcrumbs do %>
  <li><%= current_format.title.pluralize %></li>
  <li class="active">Export as CSV</li>
<% end %>

<h1 class="page-header">Export as CSV</h1>

<p>Please confirm you want to export the documents list. The following will be emailed to <strong><%= current_user.email %></strong>:</p>
<ul>
  <li>All <%= current_format.title.pluralize %></li>
  <% if @query.present? %>
    <li>Matching query: “<%= @query %>”</li>
  <% end %>
</ul>
<%= form_tag export_documents_path(current_format.slug), method: 'post' do %>
  <%= hidden_field_tag :query, @query %>
  <%= submit_tag "Export as CSV", class: 'btn btn-primary' %>

  <%= link_to "Cancel and return to list", documents_path(current_format.slug, query: params[:query]), class: 'btn btn-default' %>
<% end %>
