<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :page_title, " | Specialist Publisher" %>
<% content_for :app_title, "GOV.UK Specialist Publisher" %>

<% content_for :navbar_items do %>
  <% if current_user.gds_editor? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <% if current_format %>
          <%= current_format.title.pluralize %>
        <% else %>
          Finders
        <% end %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
  <% end %>

  <% formats_user_can_access.sort_by(&:title).each do |format| %>
    <li><%= link_to format.title.pluralize, documents_path(format.slug) %></li>
  <% end %>

  <% if current_user.gds_editor? %>
      </ul>
    </li>
  <% end %>
<% end %>

<% content_for :content do %>
  <% if flash[:errors].present? %>
    <div class="elements-error-summary add-bottom-margin">
      <%= flash[:errors] %>
    </div>
  <% end %>
  <%= render partial: 'shared/breadcrumbs' %>
  <%= yield %>
  <script>
    $(document).ready(function() {
      <%= yield :document_ready %>
    });
  </script>
<% end %>

<% content_for :footer_version, CURRENT_RELEASE_SHA %>

<%# use the govuk_admin_foundation layout %>
<%= render :template => 'layouts/govuk_admin_template'%>
