<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :page_title, "Specialist Publisher" %>
<% content_for :app_title, "GOV.UK Specialist Publisher" %>

<% content_for :navbar_items do %>
  <li><%= nav_link_to 'Manuals', '/manuals' %></li>

  <% if current_user_is_gds_editor? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <% if current_finder %>
          <%= current_finder[:title] %>
        <% else %>
          Finders
        <% end %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
  <% end %>

  <% finders.each do |key, value| %>
    <% if current_user_can_edit?(value[:document_type]) %>
      <li><%= nav_link_to value[:title], "/#{key}" %></li>
    <% end %>
  <% end %>

  <% if current_user_is_gds_editor? %>
      </ul>
    </li>
  <% end %>
<% end %>

<% content_for :navbar_right do %>
  Hello, <%= link_to current_user.name, Plek.current.find('signon') %>
  &bull; <%= link_to 'Sign out', gds_sign_out_path %>
<% end %>

<% content_for :content do %>
  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: "alert #{bootstrap_class_for(type)}" %>
  <% end -%>
  <%= render(:partial => 'shared/breadcrumbs') %>
  <%= yield %>
  <script>
    $(document).ready(function() {
      <%= yield :document_ready %>
    });
  </script>
<% end %>

<%# use the govuk_admin_foundation layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
