<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>

<% if user_signed_in? %>
  <% content_for :head do %>
    <meta name="govuk:components_gem_version" content="<%= GovukPublishingComponents::VERSION %>">
    <%= javascript_include_tag "govuk_publishing_components/load-analytics" %>
    <%= javascript_include_tag "es6-components", type: "module" %>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_admin",
    product_name: "Specialist Publisher",
    environment: environment,
    browser_title: yield(:page_title) do %>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <%= render "govuk_publishing_components/components/layout_header", {
    product_name: "Specialist Publisher",
    environment: environment,
    navigation_items: [
      {
        text: "Dashboard",
        href: root_path,
        active: request.path.end_with?(root_path),
      },
      {
        text: "Switch app",
        href: Plek.external_url_for("signon"),
      },
      *(
        if user_signed_in?
          [
            {
              text: "Logout",
              href: "/auth/gds/sign_out",
            }]
        end),
    ],
  } %>

  <div class="govuk-width-container">

    <%= yield(:back_link) %>
    <%= yield(:breadcrumbs) %>

    <main class="govuk-main-wrapper<%= " govuk-main-wrapper--l" if yield(:back_link).blank? && yield(:breadcrumbs).blank? %>" id="main-content" role="main">

      <%= render "govuk_publishing_components/components/success_alert", {
        message: flash[:notice]
      } if flash[:notice] %>
      <%= render "govuk_publishing_components/components/error_alert", {
        message: flash[:danger]
      } if flash[:danger] %>

      <% if yield(:title).present? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <%= render "govuk_publishing_components/components/heading", {
              context: yield(:context),
              text: yield(:title),
              margin_bottom: 6,
              font_size: "xl",
              heading_level: 1,
            } %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: "Support and feedback",
        items: [
          {
            href: Plek.external_url_for("support"),
            text: "Raise a support request",
          },
          {
            href: "https://status.publishing.service.gov.uk/",
            text: "Check if publishing apps are working or if there’s any maintenance planned",
          },
        ],
      },
    ],
  } %>
<% end %>
